/* ====== Font ========= */ 
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

:root {
    --green:#eb3507;
    --blue:#1687bb;
    --light-color:#fff;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.cointeiner {
    width: 100%;
    padding: 0 2rem;
}

/* ====== Navegação ====== */
.navegation {
    position: fixed;
    width: 260px;
    height: 100%;
    background: var(--blue);
    padding: 1rem 0;
    overflow: hidden;
}

.navegation.active {
    width: 80px;
    transition: 0.5s;
}

.navegation ul{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}

.navegation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    margin-bottom: 1rem;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.navegation ul li a:hover,
.navegation ul li a.active {
    background: var(--light-color);

}

.navegation ul li:nth-child {
    margin-bottom: 40px;
    pointer-events: none;
}

.navegation ul li a {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--light-color);
    padding: 0 1.75rem;
    font-size: 0.95rem;
    font-weight: 700;
    height: 50px;
    gap: 0.75rem;
}

.navegation ul li:hover a{
    color: var(--black1);
}

.navegation ul li a .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    text-align: center;
    font-size: 1.25rem;
}

.navegation ul li a .icon ian-icon {
    font-size: 1.75rem
}

.navegation ul li a .title {
    position: relative;
    display: inline-block;
    height: auto;
    text-align: start;
    white-space: nowrap; ;
}

.navegation ul li.logo a{
    pointer-events: none;
    font-size: 1.1rem;
}


/* ====== Main ====== */
.main {
    position: absolute;
    left: 260px;
    width: calc(100% - 260px);
    min-height: 100vh;
    background: var(--light-color);
    padding: 1rem 2rem;
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding:  0 10px;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    background: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    outline: none;
    border: 1px solid var(--black2)
}

.search label ion-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: var(--black2);
    cursor: pointer;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.cardBox .card {
    position: relative;
    background:var(--light-color);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cardBox .card .numbers {
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black1);
}

.cardBox .card .cardName {
    position: relative;
    font-size: 0.9rem;
    color: var(--black2);
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 3rem;
    color: var(--blue);
}

.cardBox .card:hover {
    background: var(--green);
}

.cardBox .card:hover .iconBx,
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName {
    color: var(--light-color);
}

.details {
    padding: relative;
    width: 100%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background-color: var(--light-color);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black2);
    padding-bottom: 10px;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 700;
    color: var(--black1);
}

.cardHeader .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--green);
    text-decoration: none;
    color: var(--light-color);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top:10px;
}

.details table thead td {
    font-weight: 600;
}

.details .recentOrders table tr {
    border-bottom: 1px solid var(--black2);
    height: 60px;
}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
    background-color: var(--blue);
    color: var(--light-color);
}

.details .recentOrders table tr td {
    padding: 10px;
}

.details .recentOrders table tr td:last-child {
    text-align: right;
}

.details .recentOrders table tr td:nth-child(2) {
    text-align: left;
}

.details .recentOrders table tr td:nth-child(3) {
    text-align: left;
}

.status.delivered {
    background: rgb(46, 240, 46);
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 5px;
    color: var(--light-color);
}

.status.pending {
    background: #f00;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 5px;
    color: var(--light-color);
}

.status.return  {
    background: #bb8c00;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 5px;
    color: var(--light-color);
}

.status.inProgress  {
    background: #3fa5f9;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 5px;
    color: var(--light-color);
}

.recentCustomers {
    position: relative;
    display: grid;
    min-height: 100px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    background: var(--light-color);
}

.recentCustomers .imgBx  {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}

.recentCustomers .imgBx img {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: cover;
}


.recentCustomers table tr td {
    padding: 12px 10px;
}

.recentCustomers table tr td h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2rem;
}

.recentCustomers table tr td h4 span {
    font-size: 0.8rem;
    color: var(--black2);
    margin-top: 5px;
}

.recentCustomers table tr:hover {
    background: var(--blue);
    color: var(--light-color);  
}

.recentCustomers table tr:hover td h4 span {
    color:var(--light-color);
}

/* ====== Responsive ====== */
@media (max-width: 768px) {
    .main {
        left: 80px;
        width: calc(100% - 80px);
    }

    .navegation {
        width: 80px;
    }

    .navegation ul li .title {
        display: none;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }

    .details {
        grid-template-columns: 1fr;
    }

    .topbar .search {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: 1fr;
    }
}